/* CSS VARIABLES */
:root {
    --green: #5b8a10;
    --orange: #be8342;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 960px;
    margin: auto;
    margin-top: 10px;
    padding: 1px;
    background-color: white;
    border-radius: 1%;
}

h1 {

    text-align: center;

    & .half-1 {
    color: var(--green);
   }

   & .half-2 {
    color: var(--orange);
   }

}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 93%;
    margin-bottom: -28px;
}

nav {
    margin-left: -0.7rem;
    float: left;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 10px;
    padding:8px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    border-style: groove;
    border-width: 2px;
    font-weight: 600;

    & a:link { 
        text-decoration: none;
    }

    & a:visited { 
        text-decoration: none; 
    }

    & a:hover { 
        text-decoration: none;
    }

    & a:active {
        text-decoration: none;
    }
}



.menu-item {
    background-image: linear-gradient(180deg, rgba(255,255,255,1) 30%, #cbe783 100%);
}

.current-page {
    background-image: linear-gradient(180deg, rgba(255,255,255,1) 30%, #e5cdb2 100%);
    background-color: #e5cdb2;
}

h2 {
    margin-top: 1rem;
    color: var(--green);
    font-size: 1.5rem;
    border-bottom-style: groove;
    border-bottom-color: #f1fedd;
    border-width: 4px;
}

h3 {
    padding-top: 1.5%;
    color: var(--orange);
}

article {
    margin-left: 10.2rem;
    margin-right: 1rem;
    border-style: groove;
    padding: 2%;
    margin-bottom: 2%;
    background-image: linear-gradient(180deg, rgba(225,225,225,1) 0%, rgba(255,255,255,1) 10%, 
    rgba(255,255,255,1) 50%, rgba(255,255,255,1) 90%, rgba(225,225,225,1) 100%);
}

footer {
    margin:auto;
    padding: auto;
    text-align: center;
    

    & p {
        font-style: italic;
    color: rgb(163, 163, 163);
    font-size: x-small;
    }

    & a {
        text-decoration:underline;
         color: rgb(163, 163, 163);;   
    }
}

